.about {
	text-align: center;
	padding: 70px;
	background-color: rgb(0, 190, 150);
}

.work {
	text-align: center;
	padding: 70px;
}

.contact {
	text-align: center;
	padding: 70px;
	background-color: rgb(0, 190, 150);
}