.section1 {
	text-align: center;
	padding: 70px;
	background-color: rgb(56, 192, 152);
}

.section2 {
	text-align: center;
	padding: 70px;
}

.about {
	background-color: white;
	padding: 60px;
	text-align: center;
}
